body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.App h1{
  text-align: center;
}

.searchText{
  padding:10px;
  font-size: 25px;
}
.btn{
  padding: 10px;
  font-size: 25px;
}
.dropdown{
  background-color: rgb(197, 208, 219);
  width: 373px;
  padding-left:15px;
}